<div class="card">
  <%= link_to image_tag(prototype.image, class: :card__img ), prototype_path(prototype.id)%>

  <div class="card__body">
    <%= link_to "#{prototype.title}", prototype_path(prototype.id), class: :card__title%> 
    <!--show.html.erbをリンク先にする!--><!--rails routeで詳細ページ(prototype/show)のパスがprototypeであることを確認!-->
    <p class="card__summary">
      <%= "#{prototype.catch_copy}" %>
    </p>

    <%= link_to "#{prototype.user.name}", user_path(prototype.user), class: :card__user %>
    <!--各ページのユーザー名をクリックすると、ユーザーの詳細ページへ遷移するように修正-->
    <!--show.html.erbをリンク先にする!-->
    <!--DBのprototypeテーブルに該当するuserテーブルのnameカラム!-->

  </div>
</div>

<!--メモ
prototype.title ==プロトタイプのタイトル
prototype.catch_copy ==プロトタイプのキャッチコピー
prototype.concept ==プロトタイプのコンセプト
!-->

